@using UseallConecta.Components.Layout

<div class="info-usuario" >
    <div>
<i style="font-size: 80px; color:white;" class="material-icons">account_circle
</i>

  
    </div>
    <div style="width:180px; color:white">
 

   <div style="font-size: 16px;text-overflow: ellipsis; width: 100%; overflow: hidden;white-space:nowrap; font-weight: 600;">
        Saulo Adriano Ramos Junior
    </div>
    <div style="font-size: 14px;" >
        UseallSoftware
    </div>
    </div>
</div>


<div class="nav-scrollable">
    <nav class="nav flex-column">
        <NavItem Href="/" Text="Chat" Match="NavLinkMatch.All" >
 <i class="material-icons">chat</i>

        </NavItem>
        <NavItem Href="counter" Text="Mensagens" >
<i class="material-icons">mail</i>


        </NavItem>
        <NavItem Href="weather" Text="Pessoas" >
<i class="material-icons">face</i>


        </NavItem>
        <NavItem Href="weather" Text="Gropos de discussão" >
<i class="material-icons">group</i>


        </NavItem>
        <NavItem Href="weather" Text="Anotações" >
<i class="material-icons">note</i>


        </NavItem>
        <NavItem Href="weather" Text="Agenda" >
<i class="material-icons">calendar_month</i>


        </NavItem>
        <NavItem Href="weather" Text="Documentos" >
<i class="material-icons">folder</i>


        </NavItem>
    </nav>
</div>

