<div class="top-bar">
    <div></div>
    <span class="nome-empresa">
        Useall - Useall
    </span>
    <div class="user-info">

    <i style="font-size: 50px; color:white;" class="material-icons">account_circle
</i>
    </div>
</div>