@page "/"
@using UseallConecta.Components.Common

<PageTitle>Home</PageTitle>
<div class="tiles" >

<Tile Titulo="Chats"  Href="" Color="green">
    <div>Chats aqui</div>
</Tile>
<Tile Titulo="Mensagens" SubTitulo="Caixa de entrada: 0 não lida(s)" Href=""  Color="indigo">
    <div>Mensagens aqui</div>
</Tile>
<Tile Titulo="Tarefas" Href=""  Color="goldenrod">
    <div>Tarefas aqui</div>
</Tile>
<Tile Titulo="Agenda" Href=""  Color="midnightblue">
    <div>Agenda aqui</div>
</Tile>
</div>
