.sidebar[b-ln4szb3h8e] {
  background: #ffffff;
  width: 0px;
  height: 100vh;
  /* position: sticky; */
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  z-index: 3;
  border-right: 1px solid grey;
}
.navbar-toggler:checked ~ .sidebar[b-ln4szb3h8e] {
  width: 300px;
}
.nav-modal[b-ln4szb3h8e] {
  display: none;
}
.navbar-toggler:checked ~ .nav-modal[b-ln4szb3h8e] {
  display: block; /* ou outra propriedade desejada */
  background-color: rgba(0, 0, 0, 0.5); /* exemplo para uma modal */
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.navbar-toggler[b-ln4szb3h8e] {
  all: unset;
  appearance: none;
  cursor: pointer;
  width: 3.5rem;
  height: 2.5rem;
  color: rgb(124, 122, 122);
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  transition: all 0.5s ease-in-out;
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    no-repeat center/1.75rem;
  z-index: 3;
}
.navbar-toggler:checked[b-ln4szb3h8e] {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 90%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    no-repeat center/1.75rem;
}

@media (min-width: 641px) {
  .sidebar[b-ln4szb3h8e] {
    width: 60px;
    position: relative;
  }
  .navbar-toggler[b-ln4szb3h8e] {
    top: 20px;
    left: 10px;
    width: 40px;
    height: 35px;
  }
  .navbar-toggler:checked[b-ln4szb3h8e] {
    left: 160px;
  }
  .nav-modal[b-ln4szb3h8e] {
    display: none !important;
  }
  .navbar-toggler:checked ~ .sidebar[b-ln4szb3h8e] {
    width: 250px;
  }
}
