.top-bar[b-ulto62zdex] {
  background: linear-gradient(
    to right,
    #6051e6 6%,
    #5966e7 25%,
    #4f81e9 55%,
    #499bea 69%,
    #43a5eb 83%,
    #3bbeec 99%
  );
  width: 100%;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nome-empresa[b-ulto62zdex] {
  color: white;
}
.user-info[b-ulto62zdex] {
  opacity: 0;
  user-select: none;
}
@media (min-width: 641px) {
  .user-info[b-ulto62zdex] {
    opacity: 1;
    user-select: all;
  }
  .top-bar[b-ulto62zdex] {
    height: 80px;
  }
}
.mud-toolbar[b-ulto62zdex]{
  padding-left:0!important;
  padding-right:0!important;
}
