@page "/"
@inject NavigationManager NavigationManager


<PageTitle>Home</PageTitle>
<p>Token: @Token</p>
<div class="tiles" >

<Tile Titulo="Chats"  Href="" Color="green">
    <div>Chats aqui</div>
</Tile>
<Tile Titulo="Mensagens" SubTitulo="Caixa de entrada: 0 não lida(s)" Href=""  Color="indigo">
    <div>Mensagens aqui</div>
</Tile>
<Tile Titulo="Tarefas" Href=""  Color="goldenrod">
    <div>Tarefas aqui</div>
</Tile>
<Tile Titulo="Agenda" Href=""  Color="midnightblue">
    <div>Agenda aqui</div>
</Tile>
</div>

@code {
    private string? Token;

    protected override void OnInitialized()
    {
        // Obter a URL atual
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        // Extrair o parâmetro "token" da query string
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("token", out var tokenValue))
        {
            Token = tokenValue;
        }
    }
}